.background {
  z-index: -1;
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: -1;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.rotating-background {
  width: 220%;
  height: 220%;

  /* object-fit: cover; */
  animation: spin 60s linear infinite;
  transform-origin: center center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
