.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.inputLobbyIDContainer {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputLobbyID {
  margin-top: -15vh;
  width: 20vw;
  height: 4vw;
  background-color: #cd16ca;
  border-radius: 0.7vw;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.lobbyIDInput {
  z-index: 111;
  width: 16vw;
  height: 3vw;
  border-radius: 0.5vw;

  border: none;
  background-color: #9f139d;
  color: white;

  box-sizing: border-box;
  text-align: center;
  font-size: 1.4vw;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgb(173, 173, 173);
    font-size: 1.4vw;
  }
}
.joinButton {
  height: 3vw;
  width: 3vw;
  border-radius: 0.5vw;
  background-color: #45ad00;

  font-size: 4vw;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.connecting {
  font-size: 2vw;
}
